{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> このサイトについて </title>
        <meta charset="utf-8">
        <meta name="description" content="このサイトの説明です">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'Portal/css/infomation_style.css' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'selector/images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'selector/images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'selector/images/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'selector/images/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'selector/images/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">        
    </head>
    <body>

        <!-- ナビゲーションバー -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'selector:index' %}">テルート愛媛</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'selector:index' %}">トップページ</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">このサイトについて <span class="sr-only">(現位置)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'selector:produce' %}">今後の運営</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ドロップダウン</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown">
                            <a class="dropdown-item" href="#">リンク1</a>
                            <a class="dropdown-item" href="#">リンク2</a>
                            <a class="dropdown-item" href="#">リンク3</a>
                        </div>
                    </li> -->
                </ul>
                <!-- <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="search" placeholder="検索..." aria-label="検索...">
                </form> -->
            </div>
        </nav>

        <div class="produce-body">
            <h1 id="このサイトについて">このサイトについて</h1>

            <div class="produce-body">
                <h2 id="目次">目次</h2>
                <ul class="list-unstyled">
                    <li><a href="#まず最初に">まず最初に</a></li>
                    <li><a href="#使用技術等について">使用技術等について</a>
                        <ul class="list-unstyled">
                            <li><a href="#環境">環境</a></li>
                            <li><a href="#Webフレームワーク">Webフレームワーク</a>
                                <ul class="list-unstyled">
                                    <li><a href="#Django">Django</a></li>
                                    <li><a href="#BootStrap">BootStrap</a></li>
                                </ul>
                            </li>
                        <li><a href="#画像について">画像について</a>
                            <ul class="list-unstyled">
                                <li><a href="#選曲機能で使用している画像">選曲機能で使用している画像</a></li>
                                <li><a href="#誕生日企画で使用している画像">誕生日企画で使用している画像</a></li>
                                <li><a href="#faviconについて">faviconについて</a></li>
                            </ul>
                        </li>
                        </ul>
                    </li>
                    <li><a href="#ライセンスについて">ライセンスについて</a></li>
                    <li><a href="#最後に運営について">最後に運営について</a></li>
                </ul>
            </div>

            <br><br><br>
            
            <h2 id="まず最初に">まず最初に</h2>
            
            <p>現在はただの学生1名が好きで運営してます。</p>
            <p>なので更新の遅さにはご了承ください。</p>
            <p>そしてやる気が乗らないとやりません(笑)←</p>

            <br><br><br>
            
            <h2 id="使用技術等について">使用技術等について</h2>
            
            <br>

            <h3 id="環境">環境</h3>
            
            <p><a href="https://www.conoha.jp/" target="_blank">ConoHa</a>のVPSを借りて運営しています！</p>
            <p>OSはLinux。</p>
            <p><a href="https://conoha.mikumo.com/?btn_id=conoha_top_mainvisual_mikumo" target="_blank">このはちゃん</a>というかわいい子がいるので</p>
            <p>ConoHaを採用しました。(大嘘、学校で使っただけ)</p>
            
            <br><br>

            <h3 id="webフレームワーク">Webフレームワーク</h3>
            
            <br>

            <h4 id="django">Django</h4>
            <p>このサイトは<a href="http://djangoproject.jp/" target="_blank">Django</a>で動いております。</p>
            <p><a href="https://github.com/django-ja/django/blob/master/LICENSE" target="_blank">ライセンス</a>はこちらです。</p>
            <p>Django使ってるので当然ながら言語はPythonです。</p>
            <p>Pythonらしいことしてないですが。</p>
            <p>そもそもPythonらしいってなんだろう、AIか機械学習か...</p>
            
            <br>
            
            <p>それとDjangoを運用するに当たって</p>
            <p><a href="https://github.com/PyMySQL/PyMySQL" target="_blank">PyMySQL</a>もライブラリで使用しています。</p>
            <p><a href="https://github.com/PyMySQL/PyMySQL/blob/master/LICENSE" target="_blank">ライセンス</a>はこちら。</p>
            
            <br>

            <h4 id="bootstrap">BootStrap</h4>
            
            <p>そして<a href="https://getbootstrap.com/" target="_blank">BootStrap</a>で表示を楽させてもらってます^^</p>
            <p>フロントエンド大っ嫌いなので^^^^^^</p>
            
            <br><br><br>

            <h3 id="画像について">画像について</h3>

            <br>

            <h4 id="faviconについて">faviconについて</h4>

            <p>すべてのページの <a href="https://wa3.i-3-i.info/word14169.html" target="_blank">favicon</a> ですが</p>
            <p><a href="https://twitter.com/Haya_sgs" target="_blank">Haya</a> さんの画像を使わせていただいております。</p>

            <br>
            
            <h4 id="選曲機能で使用している画像">選曲機能で使用している画像</h4>
            
            <p><a href="{% url 'selector:index' %}">機能選択ページ</a> と <a href="{% url 'selector:result' %}">選曲結果ページ</a></p>
            <p>上記ページの背景画像は<a href="http://illustrain.com/" target="_blank">イラストレイン</a>様の</p>
            <p>フリー素材を使わせていただいております。</p>

            <br>

            <h4 id="誕生日企画で使用している画像">誕生日企画で使用している画像</h4>
            <p>現在は個人の有志者の方にお願いしてイラストを描いていただいております。</p>
            <p>私には掲載の許可をいただいておりますがそれ以外の許可は取っておりません。</p>
            <p>後述するライセンスを合わせて読んでいただいてサイトをご利用ください。</p>
            
            <br><br><br>
            
            <h2 id="ライセンスについて">ライセンスについて</h2>
            
            <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a></p>
            <p>このサイトは<a href="https://github.com/CyberTorte/Skmr" target="_blank">GitHub</a>に掲載している通り<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">クリエイティブ・コモンズ 表示 - 非営利 - 改変禁止 4.0 国際 ライセンス</a>の下に提供されています。</p>
            <p>誕生日ページなどのイラスト担当者さんの作品については</p>
            <p>原則このライセンスで提供されます。</p>
            <p>ただしイラスト担当者さんもしくは</p>
            <p>管理者の私に許可を得た場合、</p>
            <p>そのページに特記がある場合はこの限りではありません。</p>
            <p>分かりやすい文書については <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.ja" target="_blank">コモンズ証</a> をご覧ください。</p>
            <p>法的文書については <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/legalcode.ja" target="_blank">リーガルコード</a> をご覧ください。</p>
            
            <br><br><br>
            
            <h2 id="最後に運営について">最後に運営について</h2>
            
            <p>今後様々なコンテンツを実装して盛り上げていきたい所存です。</p>
            <p>そこで運営協力であったり意見であったり絶賛募集中です！</p>
            <p>詳しくは<a href="{% url 'selector:produce' %}">今後の運営</a>ページをご覧ください。</p>
            <p>雑談、意見は<a href="https://twitter.com/loveTorte_skmr" target="_blank">愛媛のトルテ</a></p>
            <p>運営協力については<a href="https://twitter.com/it_torte_07" target="_blank">PGのトルテ</a></p>
            <p>までお願い致します！</p>
        </div>             

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X 965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH 8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV 2 9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3 MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="{% static 'selector/jquery.js' %}"></script>
    </body>
</html>
