.index-body {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 5px outset #ff8c00;
    border-left: 5px outset #32cd32;
    border-right: 5px outset #00bfff;
    border-bottom: 5px outset #ee82ee;
}

.function-mode {
    display: block;
    text-align: right;
}

.limited-filter {
    display: none;
}

.twinkle {
    display: none;
}

.twinkle-party {
    display: none;
}

.btn-akari {
    background: #ff8c00;
    color: white;
}

.btn-akari.outline {
    border: 3px solid #ff8c00;
    color: white;
}

.btn .btn-akari:hover, .btn-akari:focus, 
.btn-akari:active, .btn-akari:active:focus, .btn-akari:active:hover, .btn-akari:active.focus,
.btn-akari.active, .btn-akari.active:focus, .btn-akari.active:hover, .btn-akari.active.focus,
.open > .dropdown-toggle.btn-akari, 
.open > .dropdown-toggle.btn-akari:hover,
.open > .dropdown-toggle.btn-akari:focus, 
.open > .dropdown-toggle.btn-akari.focus,
.btn-akari.disabled:hover, .btn-akari[disabled]:hover, fieldset[disabled] .btn-akari:hover,
.btn-akari.disabled:focus, .btn-akari[disabled]:focus, fieldset[disabled] .btn-akari:focus,
.btn-akari.disabled.focus, .btn-akari[disabled].focus, fieldset[disabled] .btn-akari.focus {
    background: #ff4500;
    color: white;
}

.btn-outline-akari {
    background: none;
    color: white;
}

.btn-outline-akari.outline {
    border: 2px solid #ff8c00;
    color: #ff4500;
}

.btn .btn-outline-akari:hover, .btn-outline-akari:focus, 
.btn-outline-akari:active, .btn-outline-akari:active:focus, .btn-outline-akari:active:hover, .btn-outline-akari:active.focus,
.btn-outline-akari.active, .btn-outline-akari.active:focus, .btn-outline-akari.active:hover, .btn-outline-akari.active.focus,
.open > .dropdown-toggle.btn-outline-akari, 
.open > .dropdown-toggle.btn-outline-akari:hover,
.open > .dropdown-toggle.btn-outline-akari:focus, 
.open > .dropdown-toggle.btn-outline-akari.focus,
.btn-outline-akari.disabled:hover, .btn-outline-akari[disabled]:hover, fieldset[disabled] .btn-outline-akari:hover,
.btn-outline-akari.disabled:focus, .btn-outline-akari[disabled]:focus, fieldset[disabled] .btn-outline-akari:focus,
.btn-outline-akari.disabled.focus, .btn-outline-akari[disabled].focus, fieldset[disabled] .btn-outline-akari.focus {
    background: #ff8c00;
    color: white;
}

.btn-nagisa {
    background: #0000cd;
    color: white;
}

.btn-nagisa.outline {
    border: 3px solid #0000cd;
    color: white;
}

.btn .btn-nagisa:hover, .btn-nagisa:focus, 
.btn-nagisa:active, .btn-nagisa:active:focus, .btn-nagisa:active:hover, .btn-nagisa:active.focus,
.btn-nagisa.active, .btn-nagisa.active:focus, .btn-nagisa.active:hover, .btn-nagisa.active.focus,
.open > .dropdown-toggle.btn-nagisa, 
.open > .dropdown-toggle.btn-nagisa:hover,
.open > .dropdown-toggle.btn-nagisa:focus, 
.open > .dropdown-toggle.btn-nagisa.focus,
.btn-nagisa.disabled:hover, .btn-nagisa[disabled]:hover, fieldset[disabled] .btn-nagisa:hover,
.btn-nagisa.disabled:focus, .btn-nagisa[disabled]:focus, fieldset[disabled] .btn-nagisa:focus,
.btn-nagisa.disabled.focus, .btn-nagisa[disabled].focus, fieldset[disabled] .btn-nagisa.focus {
    background: #00008b;
    color: white;
}

.btn-outline-nagisa {
    background: none;
    color: white;
}

.btn-outline-nagisa.outline {
    border: 2px solid #0000cd;
    color: #00008b;
}

.btn .btn-outline-nagisa:hover, .btn-outline-nagisa:focus, 
.btn-outline-nagisa:active, .btn-outline-nagisa:active:focus, .btn-outline-nagisa:active:hover, .btn-outline-nagisa:active.focus,
.btn-outline-nagisa.active, .btn-outline-nagisa.active:focus, .btn-outline-nagisa.active:hover, .btn-outline-nagisa.active.focus,
.open > .dropdown-toggle.btn-outline-nagisa, 
.open > .dropdown-toggle.btn-outline-nagisa:hover,
.open > .dropdown-toggle.btn-outline-nagisa:focus, 
.open > .dropdown-toggle.btn-outline-nagisa.focus,
.btn-outline-nagisa.disabled:hover, .btn-outline-nagisa[disabled]:hover, fieldset[disabled] .btn-outline-nagisa:hover,
.btn-outline-nagisa.disabled:focus, .btn-outline-nagisa[disabled]:focus, fieldset[disabled] .btn-outline-nagisa:focus,
.btn-outline-nagisa.disabled.focus, .btn-outline-nagisa[disabled].focus, fieldset[disabled] .btn-outline-nagisa.focus {
    background: #0000cd;
    color: white;
}

.btn-kasumi {
    background: #32cd32;
    color: white;
}

.btn-kasumi.outline {
    border: 3px solid #32cd32;
    color: white;
}

.btn .btn-kasumi:hover, .btn-kasumi:focus, 
.btn-kasumi:active, .btn-kasumi:active:focus, .btn-kasumi:active:hover, .btn-kasumi:active.focus,
.btn-kasumi.active, .btn-kasumi.active:focus, .btn-kasumi.active:hover, .btn-kasumi.active.focus,
.open > .dropdown-toggle.btn-kasumi, 
.open > .dropdown-toggle.btn-kasumi:hover,
.open > .dropdown-toggle.btn-kasumi:focus, 
.open > .dropdown-toggle.btn-kasumi.focus,
.btn-kasumi.disabled:hover, .btn-kasumi[disabled]:hover, fieldset[disabled] .btn-kasumi:hover,
.btn-kasumi.disabled:focus, .btn-kasumi[disabled]:focus, fieldset[disabled] .btn-kasumi:focus,
.btn-kasumi.disabled.focus, .btn-kasumi[disabled].focus, fieldset[disabled] .btn-kasumi.focus {
    background: #006400;
    color: white;
}

.btn-outline-kasumi {
    background: none;
    color: white;
}

.btn-outline-kasumi.outline {
    border: 2px solid #32cd32;
    color: #006400;
}

.btn .btn-outline-kasumi:hover, .btn-outline-kasumi:focus, 
.btn-outline-kasumi:active, .btn-outline-kasumi:active:focus, .btn-outline-kasumi:active:hover, .btn-outline-kasumi:active.focus,
.btn-outline-kasumi.active, .btn-outline-kasumi.active:focus, .btn-outline-kasumi.active:hover, .btn-outline-kasumi.active.focus,
.open > .dropdown-toggle.btn-outline-kasumi, 
.open > .dropdown-toggle.btn-outline-kasumi:hover,
.open > .dropdown-toggle.btn-outline-kasumi:focus, 
.open > .dropdown-toggle.btn-outline-kasumi.focus,
.btn-outline-kasumi.disabled:hover, .btn-outline-kasumi[disabled]:hover, fieldset[disabled] .btn-outline-kasumi:hover,
.btn-outline-kasumi.disabled:focus, .btn-outline-kasumi[disabled]:focus, fieldset[disabled] .btn-outline-kasumi:focus,
.btn-outline-kasumi.disabled.focus, .btn-outline-kasumi[disabled].focus, fieldset[disabled] .btn-outline-kasumi.focus {
    background: #32cd32;
    color: white;
}

.btn-mao {
    background: #ff1493;
    color: white;
}

.btn-mao.outline {
    border: 3px solid #ff1493;
    color: white;
}

.btn .btn-mao:hover, .btn-mao:focus, 
.btn-mao:active, .btn-mao:active:focus, .btn-mao:active:hover, .btn-mao:active.focus,
.btn-mao.active, .btn-mao.active:focus, .btn-mao.active:hover, .btn-mao.active.focus,
.open > .dropdown-toggle.btn-mao, 
.open > .dropdown-toggle.btn-mao:hover,
.open > .dropdown-toggle.btn-mao:focus, 
.open > .dropdown-toggle.btn-mao.focus,
.btn-mao.disabled:hover, .btn-mao[disabled]:hover, fieldset[disabled] .btn-mao:hover,
.btn-mao.disabled:focus, .btn-mao[disabled]:focus, fieldset[disabled] .btn-mao:focus,
.btn-mao.disabled.focus, .btn-mao[disabled].focus, fieldset[disabled] .btn-mao.focus {
    background: #ff00ff;
    color: white;
}

.btn-outline-mao {
    background: none;
    color: white;
}

.btn-outline-mao.outline {
    border: 2px solid #ff1493;
    color: #ff00ff;
}

.btn .btn-outline-mao:hover, .btn-outline-mao:focus, 
.btn-outline-mao:active, .btn-outline-mao:active:focus, .btn-outline-mao:active:hover, .btn-outline-mao:active.focus,
.btn-outline-mao.active, .btn-outline-mao.active:focus, .btn-outline-mao.active:hover, .btn-outline-mao.active.focus,
.open > .dropdown-toggle.btn-outline-mao, 
.open > .dropdown-toggle.btn-outline-mao:hover,
.open > .dropdown-toggle.btn-outline-mao:focus, 
.open > .dropdown-toggle.btn-outline-mao.focus,
.btn-outline-mao.disabled:hover, .btn-outline-mao[disabled]:hover, fieldset[disabled] .btn-outline-mao:hover,
.btn-outline-mao.disabled:focus, .btn-outline-mao[disabled]:focus, fieldset[disabled] .btn-outline-mao:focus,
.btn-outline-mao.disabled.focus, .btn-outline-mao[disabled].focus, fieldset[disabled] .btn-outline-mao.focus {
    background: #ff00ff;
    color: white;
}
