body {
    background-image: url("/static/selector/images/skmr_background.jpg");
    background-size: 10% auto;
    text-align: center;
}

.loading {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1.0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.loading-image {
    margin: 50vh auto 0;
    transform: translateY(-50%)
}

.loading-image img {
    animation: fadeIn 2s ease 100ms 1 normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
