body {
    background-image: url("/static/selector/images/skmr_background.jpg");
    background-size: 10% auto;
    text-align: center;
}

.twinkle-content .twinkle-content-mobile {
    display: inline-block;
}

.table-mao {
    background-color: #ee82ee;
}

.table-hover tbody tr:hover {
    background-color: #da70d6;
}

.header {
    background-color: rgba(255, 255, 255, 0.9);
}

@media only screen and (min-width: 768px) {
    /* ～ ここに ○○px 以上の時の指定を記述 ～ */
    .twinkle-content {
        display: inline-block;
    }
    .twinkle-content-mobile {
        display: none;
    }
}
 
@media only screen and (max-width: 767px) {
    /* ～ ここに ○○px 以下の時の指定を記述 ～ */
    .twinkle-content {
        display: none;
    }
    .twinkle-content-mobile {
        display: inline-block;
    }
}