{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> 機能選択ページ ～テルート愛媛～ </title>
        <meta charset="utf-8">
        <meta name="description" content="テルート愛媛の選曲ページです。スクメロでの選曲にお使いください。">
        <meta name="author" content="" >
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'selector/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'selector/css/index_style.css' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'selector/images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'selector/images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'selector/images/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'selector/images/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'selector/images/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta property="og:url" content="https://lovethousand.nagoya/etrotEhime/selector/">
        <meta property="og:title" content="機能選択ページ ～テルート愛媛～">
        <meta property="og:type" content="text/html">
        <meta property="og:description" content="テルート愛媛の選曲ページです。スクメロでの選曲にお使いください。">        
        <meta property="og:site_name" content="テルート愛媛">
        <meta property="og:locale" content="ja_JP">
    </head>
    <body>
        <!-- ナビゲーションバー -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" href="#">テルート愛媛 <span class="sr-only">(現位置)</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">トップページ <span class="sr-only">(現位置)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Portal:infomation' %}">このサイトについて</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'selector:produce' %}">今後の運営</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ドロップダウン</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown">
                            <a class="dropdown-item" href="#">リンク1</a>
                            <a class="dropdown-item" href="#">リンク2</a>
                            <a class="dropdown-item" href="#">リンク3</a>
                        </div>
                    </li> -->
                </ul>
                <!-- <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="search" placeholder="検索..." aria-label="検索...">
                </form> -->
            </div>
        </nav>


        <div class="loading mx-auto d-block">
            <div class="loading-image">
                <img src="{% static 'selector/images/kaoru_icon_200.jpg' %}" alt="ローディング画像">
                <img src="{% static 'selector/images/kasumi_icon_200.jpg' %}" alt="ローディング画像">
                <img src="{% static 'selector/images/akari_icon_200.jpg' %}" alt="ローディング画像">
                <img src="{% static 'selector/images/nagisa_icon_200.jpg' %}" alt="ローディング画像">
                <img src="{% static 'selector/images/mao_icon_200.jpg' %}" alt="ローディング画像">
            </div>
        </div>

        <div class="index-body">

            <h1>選曲モードはどうする？</h1>

            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-info" id="twinkle-mode">
                    <input type="checkbox" autocomplete="off">
                    モード切替
                </label>
            </div>

            <form action="{% url 'selector:result' %}" method="post">
                {% csrf_token %}
                
                <div class="twinkle-party">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="party1" name="party" value="" checked>
                        <label class="form-check-label" for="party1"> すべて </label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="party2" name="party" value="party">
                        <label class="form-check-label" for="party2"> 3曲目はトゥインクルパーティ曲 </label>
                    </div>
                </div>
                

                <p></p>

                <!-- 難易度のラジオボタン -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="difficulty1" name="difficulty" value="" checked>
                    <label class="form-check-label" for="difficulty1">すべて</label>
                </div>
    
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="difficulty2" name="difficulty" value="EASY">
                    <label class="form-check-label" for="difficulty2">EASY</label>
                </div>
    
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="difficulty3" name="difficulty" value="NORMAL">
                    <label class="form-check-label" for="difficulty3">NORMAL</label>
                </div>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="difficulty4" name="difficulty" value="HARD">
                    <label class="form-check-label" for="difficulty4">HARD</label>
                </div>
    
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="difficulty5" name="difficulty" value="EXPERT">
                    <label class="form-check-label" for="difficulty5">EXPERT</label>
                </div>
                
                <p></p>
    
                <!-- 属性のラジオボタン -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="attribute1" name="attribute" value="" checked>
                    <label class="form-check-label" for="attribute1">すべて</label>
                </div>
    
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="attribute2" name="attribute" value="all">
                    <label class="form-check-label" for="attribute2">all</label>
                </div>
    
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="attribute3" name="attribute" value="active">
                    <label class="form-check-label" for="attribute3">active</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="attribute4" name="attribute" value="cool">
                    <label class="form-check-label" for="attribute4">cool</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="attribute5" name="attribute" value="pretty">
                    <label class="form-check-label" for="attribute5">pretty</label>
                </div>

                <p></p>

                <!-- 限定のラジオボタン -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input check-limited" type="radio" id="limited1" name="limited" value="" checked>
                    <label class="form-check-label" for="limited1">すべて</label>
                </div>
    
                <div class="form-check form-check-inline">
                    <input class="form-check-input check-limited" type="radio" id="limited2" name="limited" value="skmr">
                    <label class="form-check-label limited-skmr" for="limited2" data-toggle="tooltip" title="スクメロのサービス中にあった機能で限定曲の曜日縛りが適用されます。">スクメロ仕様</label>
                </div>
    
                <div class="form-check form-check-inline">
                    <input class="form-check-input check-limited" type="radio" id="limited3" name="limited" value="normal">
                    <label class="form-check-label" for="limited3">限定曲なし</label>
                </div>
    
                <div class="form-check form-check-inline">
                    <input class="form-check-input check-limited" type="radio" id="limited4" name="limited" value="limited">
                    <label class="form-check-label" for="limited4">限定曲のみ</label>
                </div>
    
                <!-- 実装予定 -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input check-limited" type="radio" id="limited5" name="limited" value="filters">
                    <label class="form-check-label" for="limited5">限定曲の絞り込みあり</label>
                </div>

                <!-- 限定曲の絞り込み -->
                <div class="form-check form-check-inline limited-filter">
                    <input class="form-check-input" type="checkbox" id="filter1" name="filters[]" value="">
                    <label class="form-check-label" for="filter1">通常曲</label>
                </div>
                
                <div class="form-check form-check-inline limited-filter">
                    <input class="form-check-input" type="checkbox" id="filter2" name="filters[]" value="Tue">
                    <label class="form-check-label" for="filter2">火曜限定</label>
                </div>
                
                <div class="form-check form-check-inline limited-filter">
                    <input class="form-check-input" type="checkbox" id="filter3" name="filters[]" value="Wed">
                    <label class="form-check-label" for="filter3">水曜限定</label>
                </div>
                
                <div class="form-check form-check-inline limited-filter">
                    <input class="form-check-input" type="checkbox" id="filter4" name="filters[]" value="Thu">
                    <label class="form-check-label" for="filter4">木曜限定</label>
                </div>
                
                <div class="form-check form-check-inline limited-filter">
                    <input class="form-check-input" type="checkbox" id="filter5" name="filters[]" value="Fri">
                    <label class="form-check-label" for="filter5">金曜限定</label>
                </div>
                
                <p></p>

                <button class="btn btn-primary select" type="submit" name="action" value="select">1曲選曲</button>
                <button class="btn btn-success twinkle" type="submit" name="action" value="twinkle" formaction="{% url 'selector:twinkle_party' %}">トゥインクルパーティ</button>
                <button class="btn btn-secondary" type="submit" name="action" value="song_list">曲一覧</button>
            </form>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="{% static 'selector/js/loading_jquery.js' %}"></script>
        <script src="{% static 'selector/js/jquery.js' %}"></script>
    </body>
</html>
