{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> 機能選択ページ ～テルート愛媛～ </title>
        <meta charset="utf-8">
        <meta name="description" content="テルート愛媛の選曲ページです。スクメロでの選曲にお使いください。">
        <meta name="author" content="" >
        <meta name="referrer" content="origin">
        <meta name="referrer" content="strict-origin">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'selector/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'selector/css/index_style.css' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'selector/images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'selector/images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'selector/images/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'selector/images/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'selector/images/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@selector_skmr">
        <meta property="og:url" content="https://lovethousand.nagoya/etrotEhime/selector/">
        <meta property="og:title" content="機能選択ページ ～テルート愛媛～">
        <meta property="og:description" content="テルート愛媛の選曲ページです。スクメロでの選曲にお使いください。">        
        <meta property="og:site_name" content="テルート愛媛">
        <meta property="og:locale" content="ja_JP">
        <meta property="og:image" content="{% static 'selector\images\android-chrome-384x384.png' %}">
    </head>
    <body>
        <!-- ナビゲーションバー -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" href="#">テルート愛媛 <span class="sr-only">(現位置)</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">トップページ <span class="sr-only">(現位置)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Portal:infomation' %}">このサイトについて</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'selector:produce' %}">今後の運営</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ドロップダウン</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown">
                            <a class="dropdown-item" href="#">リンク1</a>
                            <a class="dropdown-item" href="#">リンク2</a>
                            <a class="dropdown-item" href="#">リンク3</a>
                        </div>
                    </li> -->
                </ul>
                <!-- <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="search" placeholder="検索..." aria-label="検索...">
                </form> -->
            </div>
        </nav>


        <div class="loading mx-auto d-block">
            <div class="loading-image">
                <img src="{% static 'selector/images/kaoru_icon_200.jpg' %}" alt="ローディング画像">
                <img src="{% static 'selector/images/kasumi_icon_200.jpg' %}" alt="ローディング画像">
                <img src="{% static 'selector/images/akari_icon_200.jpg' %}" alt="ローディング画像">
                <img src="{% static 'selector/images/nagisa_icon_200.jpg' %}" alt="ローディング画像">
                <img src="{% static 'selector/images/mao_icon_200.jpg' %}" alt="ローディング画像">
            </div>
        </div>

        <div class="index-body">

            <h1>選曲モードはどうする？</h1>

            <div class="btn-group-toggle" data-toggle="buttons" role="group">
                <label class="btn btn-kasumi" id="twinkle-mode">
                    <input type="checkbox" autocomplete="off">
                    モード切替
                </label>
            </div>

            <p></p>

            <form action="{% url 'selector:result' %}" method="post">
                {% csrf_token %}
                
                <div class="btn-group btn-group-toggle twinkle-party twinkle-party-hide" data-toggle="buttons" role="group">
                    <label class="btn btn-outline-akari outline badge-pill active" for="party1">
                        <input type="radio" id="party1" name="party" value="" autocomplete="off" checked>
                        すべて
                    </label>
                    <label class="btn btn-outline-mao outline badge-pill" for="party2">
                        <input type="radio" id="party2" name="party" value="party" autocomplete="off">
                        3曲目はトゥインクルパーティ曲
                    </label>
                </div>
                
                <p></p>

                <!-- 難易度のラジオボタン -->
                <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                    <label class="btn btn-outline-kasumi outline badge-pill active" for="difficulty1">
                        <input type="radio" id="difficulty1" name="difficulty" value="" autocomplete="off" checked>
                        すべて
                    </label>
                    <label class="btn btn-outline-nagisa outline badge-pill" for="difficulty2">
                        <input type="radio" id="difficulty2" name="difficulty" value="EASY" autocomplete="off">
                        EASY
                    </label>
                    <label class="btn btn-outline-akari outline badge-pill" for="difficulty3">
                        <input type="radio" id="difficulty3" name="difficulty" value="NORMAL" autocomplete="off">
                        NORMAL
                    </label>
                    <label class="btn btn-outline-kaoru outline badge-pill" for="difficulty4">
                        <input type="radio" id="difficulty4" name="difficulty" value="HARD" autocomplete="off">
                        HARD
                    </label>
                    <label class="btn btn-outline-mao outline badge-pill" for="difficulty5">
                        <input type="radio" id="difficulty5" name="difficulty" value="EXPERT" autocomplete="off">
                        EXPERT
                    </label>
                </div>

                <p></p>
    
                <!-- 属性のラジオボタン -->
                <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                    <label class="btn btn-outline-kasumi outline badge-pill active" for="attribute1">
                        <input type="radio" id="attribute1" name="attribute" value="" autocomplete="off" checked>
                        すべて
                    </label>
                    <label class="btn btn-outline-kaoru outline badge-pill" for="attribute2">
                        <input type="radio" id="attribute2" name="attribute" value="all" autocomplete="off">
                        all
                    </label>
                    <label class="btn btn-outline-akari outline badge-pill" for="attribute3">
                        <input type="radio" id="attribute3" name="attribute" value="active" autocomplete="off">
                        active
                    </label>
                    <label class="btn btn-outline-nagisa outline badge-pill" for="attribute4">
                        <input type="radio" id="attribute4" name="attribute" value="cool" autocomplete="off">
                        cool
                    </label>
                    <label class="btn btn-outline-mao outline badge-pill" for="attribute5">
                        <input type="radio" id="attribute5" name="attribute" value="pretty" autocomplete="off">
                        pretty
                    </label>
                </div>

                <p></p>

                <!-- 限定のラジオボタン -->
                <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                    <label class="btn btn-outline-akari outline badge-pill active check-limited" for="limited1">
                        <input type="radio" id="limited1" name="limited" value="" autocomplete="off" checked>
                        すべて
                    </label>
                    <label class="btn btn-outline-nagisa outline badge-pill limited-skmr check-limited" for="limited2" data-toggle="tooltip" title="スクメロのサービス中にあった機能で限定曲の曜日縛りが適用されます。">
                        <input type="radio" id="limited2" name="limited" value="skmr" autocomplete="off">
                        スクメロ仕様
                    </label>
                    <label class="btn btn-outline-kasumi outline badge-pill check-limited" for="limited3">
                        <input type="radio" id="limited3" name="limited" value="normal" autocomplete="off">
                        限定曲なし
                    </label>
                    <label class="btn btn-outline-kaoru outline badge-pill check-limited" for="limited4">
                        <input type="radio" id="limited4" name="limited" value="limited" autocomplete="off">
                        限定曲のみ
                    </label>
                    <label class="btn btn-outline-mao outline badge-pill check-limited5" for="limited5">
                        <input type="radio" id="limited5" name="limited" value="filters" autocomplete="off">
                        限定曲の絞り込みあり
                    </label>
                </div>

                <p></p>

                <!-- 限定曲の絞り込み -->
                <div class="btn-group btn-group-toggle limited-filter limited-filter-hide" data-toggle="buttons" role="group">
                    <label class="btn btn-outline-kasumi outline badge-pill" for="filter1">
                        <input type="checkbox" id="filter1" name="filters[]" value="" autocomplete="off">
                        通常曲
                    </label>
                    <label class="btn btn-outline-nagisa outline badge-pill" for="filter2">
                        <input type="checkbox" id="filter2" name="filters[]" value="Tue" autocomplete="off">
                        火曜限定
                    </label>
                    <label class="btn btn-outline-akari outline badge-pill" for="filter3">
                        <input type="checkbox" id="filter3" name="filters[]" value="Wed" autocomplete="off">
                        水曜限定
                    </label>
                    <label class="btn btn-outline-kaoru outline badge-pill" for="filter4">
                        <input type="checkbox" id="filter4" name="filters[]" value="Thu" autocomplete="off">
                        木曜限定
                    </label>
                    <label class="btn btn-outline-mao outline badge-pill" for="filter5">
                        <input type="checkbox" id="filter5" name="filters[]" value="Fri" autocomplete="off">
                        金曜限定
                    </label>
                </div>
                
                <p></p>

                <button class="btn btn-nagisa outline select" type="submit" name="action" value="select">1曲選曲</button>
                <button class="btn btn-kasumi outline twinkle" type="submit" name="action" value="twinkle" formaction="{% url 'selector:twinkle_party' %}">トゥインクルパーティ</button>
                <button class="btn btn-kaoru outline" type="submit" name="action" value="song_list">曲一覧</button>
            </form>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script><script src="{% static 'selector/js/loading_jquery.js' %}"></script>
        <script src="{% static 'selector/js/loading_jquery.js' %}"></script>
        <script src="{% static 'selector/js/index_jquery.js' %}"></script>
    </body>
</html>
