body {
    background-image: url("/static/selector/images/skmr_background.jpg");
    background-size: 10% auto;
    text-align: center;
}

/* 画像に対しての右クリックやドラッグを無効にする */
.protection-image {
    pointer-events: none;
}

img {
    background-color: white;
    object-fit: contain;
}

.loading {
    display: none;
    width: 100%;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.loading-image {
    margin: 50vh auto 0;
    transform: translateY(-50%)
}

.loading-image img {
    animation: fadeIn 2s ease 100ms 1 normal;
}

@media only screen and (max-width: 767px) {
    /* ～ ここに ○○px 以下の時の指定を記述 ～ */
    .loading-image img {
        zoom: 0.3;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 明佳里風BootStrap4ボタンCSS */
.btn-akari {
    background: #ff8c00;
    color: white;
}

.btn-akari.outline {
    border: 1px solid #ff8c00;
    color: white;
}

.btn .btn-akari:hover, .btn-akari:focus, 
.btn-akari:active, .btn-akari:active:focus, .btn-akari:active:hover, .btn-akari:active.focus,
.btn-akari.active, .btn-akari.active:focus, .btn-akari.active:hover, .btn-akari.active.focus,
.open > .dropdown-toggle.btn-akari, 
.open > .dropdown-toggle.btn-akari:hover,
.open > .dropdown-toggle.btn-akari:focus, 
.open > .dropdown-toggle.btn-akari.focus,
.btn-akari.disabled:hover, .btn-akari[disabled]:hover, fieldset[disabled] .btn-akari:hover,
.btn-akari.disabled:focus, .btn-akari[disabled]:focus, fieldset[disabled] .btn-akari:focus,
.btn-akari.disabled.focus, .btn-akari[disabled].focus, fieldset[disabled] .btn-akari.focus {
    background: #ff4500;
    color: white;
}

.btn-outline-akari {
    background: none;
    color: black;
}

.btn-outline-akari.outline {
    border: 1px solid #ff8c00;
    color: black;
}

.btn .btn-outline-akari:hover, .btn-outline-akari:focus, 
.btn-outline-akari:active, .btn-outline-akari:active:focus, .btn-outline-akari:active:hover, .btn-outline-akari:active.focus,
.btn-outline-akari.active, .btn-outline-akari.active:focus, .btn-outline-akari.active:hover, .btn-outline-akari.active.focus,
.open > .dropdown-toggle.btn-outline-akari, 
.open > .dropdown-toggle.btn-outline-akari:hover,
.open > .dropdown-toggle.btn-outline-akari:focus, 
.open > .dropdown-toggle.btn-outline-akari.focus,
.btn-outline-akari.disabled:hover, .btn-outline-akari[disabled]:hover, fieldset[disabled] .btn-outline-akari:hover,
.btn-outline-akari.disabled:focus, .btn-outline-akari[disabled]:focus, fieldset[disabled] .btn-outline-akari:focus,
.btn-outline-akari.disabled.focus, .btn-outline-akari[disabled].focus, fieldset[disabled] .btn-outline-akari.focus {
    background: #ff8c00;
    color: white;
}


/* 渚風BootStrap4ボタンCSS */
.btn-nagisa {
    background: #0000cd;
    color: white;
}

.btn-nagisa.outline {
    border: 1px solid #0000cd;
    color: white;
}

.btn .btn-nagisa:hover, .btn-nagisa:focus, 
.btn-nagisa:active, .btn-nagisa:active:focus, .btn-nagisa:active:hover, .btn-nagisa:active.focus,
.btn-nagisa.active, .btn-nagisa.active:focus, .btn-nagisa.active:hover, .btn-nagisa.active.focus,
.open > .dropdown-toggle.btn-nagisa, 
.open > .dropdown-toggle.btn-nagisa:hover,
.open > .dropdown-toggle.btn-nagisa:focus, 
.open > .dropdown-toggle.btn-nagisa.focus,
.btn-nagisa.disabled:hover, .btn-nagisa[disabled]:hover, fieldset[disabled] .btn-nagisa:hover,
.btn-nagisa.disabled:focus, .btn-nagisa[disabled]:focus, fieldset[disabled] .btn-nagisa:focus,
.btn-nagisa.disabled.focus, .btn-nagisa[disabled].focus, fieldset[disabled] .btn-nagisa.focus {
    background: #00008b;
    color: white;
}

.btn-outline-nagisa {
    background: none;
    color: black;
}

.btn-outline-nagisa.outline {
    border: 1px solid #0000cd;
    color: black;
}

.btn .btn-outline-nagisa:hover, .btn-outline-nagisa:focus, 
.btn-outline-nagisa:active, .btn-outline-nagisa:active:focus, .btn-outline-nagisa:active:hover, .btn-outline-nagisa:active.focus,
.btn-outline-nagisa.active, .btn-outline-nagisa.active:focus, .btn-outline-nagisa.active:hover, .btn-outline-nagisa.active.focus,
.open > .dropdown-toggle.btn-outline-nagisa, 
.open > .dropdown-toggle.btn-outline-nagisa:hover,
.open > .dropdown-toggle.btn-outline-nagisa:focus, 
.open > .dropdown-toggle.btn-outline-nagisa.focus,
.btn-outline-nagisa.disabled:hover, .btn-outline-nagisa[disabled]:hover, fieldset[disabled] .btn-outline-nagisa:hover,
.btn-outline-nagisa.disabled:focus, .btn-outline-nagisa[disabled]:focus, fieldset[disabled] .btn-outline-nagisa:focus,
.btn-outline-nagisa.disabled.focus, .btn-outline-nagisa[disabled].focus, fieldset[disabled] .btn-outline-nagisa.focus {
    background: #0000cd;
    color: white;
}


/* 香澄風BootStrap4ボタンCSS */
.btn-kasumi {
    background: #32cd32;
    color: white;
}

.btn-kasumi.outline {
    border: 1px solid #32cd32;
    color: white;
}

.btn .btn-kasumi:hover, .btn-kasumi:focus, 
.btn-kasumi:active, .btn-kasumi:active:focus, .btn-kasumi:active:hover, .btn-kasumi:active.focus,
.btn-kasumi.active, .btn-kasumi.active:focus, .btn-kasumi.active:hover, .btn-kasumi.active.focus,
.open > .dropdown-toggle.btn-kasumi, 
.open > .dropdown-toggle.btn-kasumi:hover,
.open > .dropdown-toggle.btn-kasumi:focus, 
.open > .dropdown-toggle.btn-kasumi.focus,
.btn-kasumi.disabled:hover, .btn-kasumi[disabled]:hover, fieldset[disabled] .btn-kasumi:hover,
.btn-kasumi.disabled:focus, .btn-kasumi[disabled]:focus, fieldset[disabled] .btn-kasumi:focus,
.btn-kasumi.disabled.focus, .btn-kasumi[disabled].focus, fieldset[disabled] .btn-kasumi.focus {
    background: #006400;
    color: white;
}

.btn-outline-kasumi {
    background: none;
    color: black;
}

.btn-outline-kasumi.outline {
    border: 1px solid #32cd32;
    color: black;
}

.btn .btn-outline-kasumi:hover, .btn-outline-kasumi:focus, 
.btn-outline-kasumi:active, .btn-outline-kasumi:active:focus, .btn-outline-kasumi:active:hover, .btn-outline-kasumi:active.focus,
.btn-outline-kasumi.active, .btn-outline-kasumi.active:focus, .btn-outline-kasumi.active:hover, .btn-outline-kasumi.active.focus,
.open > .dropdown-toggle.btn-outline-kasumi, 
.open > .dropdown-toggle.btn-outline-kasumi:hover,
.open > .dropdown-toggle.btn-outline-kasumi:focus, 
.open > .dropdown-toggle.btn-outline-kasumi.focus,
.btn-outline-kasumi.disabled:hover, .btn-outline-kasumi[disabled]:hover, fieldset[disabled] .btn-outline-kasumi:hover,
.btn-outline-kasumi.disabled:focus, .btn-outline-kasumi[disabled]:focus, fieldset[disabled] .btn-outline-kasumi:focus,
.btn-outline-kasumi.disabled.focus, .btn-outline-kasumi[disabled].focus, fieldset[disabled] .btn-outline-kasumi.focus {
    background: #32cd32;
    color: white;
}


/* 真央風BootStrap4ボタンCSS */
.btn-mao {
    background: #ff1493;
    color: white;
}

.btn-mao.outline {
    border: 1px solid #ff1493;
    color: white;
}

.btn .btn-mao:hover, .btn-mao:focus, 
.btn-mao:active, .btn-mao:active:focus, .btn-mao:active:hover, .btn-mao:active.focus,
.btn-mao.active, .btn-mao.active:focus, .btn-mao.active:hover, .btn-mao.active.focus,
.open > .dropdown-toggle.btn-mao, 
.open > .dropdown-toggle.btn-mao:hover,
.open > .dropdown-toggle.btn-mao:focus, 
.open > .dropdown-toggle.btn-mao.focus,
.btn-mao.disabled:hover, .btn-mao[disabled]:hover, fieldset[disabled] .btn-mao:hover,
.btn-mao.disabled:focus, .btn-mao[disabled]:focus, fieldset[disabled] .btn-mao:focus,
.btn-mao.disabled.focus, .btn-mao[disabled].focus, fieldset[disabled] .btn-mao.focus {
    background: #ff00ff;
    color: white;
}

.btn-outline-mao {
    background: none;
    color: black;
}

.btn-outline-mao.outline {
    border: 1px solid #ff1493;
    color: black;
}

.btn .btn-outline-mao:hover, .btn-outline-mao:focus, 
.btn-outline-mao:active, .btn-outline-mao:active:focus, .btn-outline-mao:active:hover, .btn-outline-mao:active.focus,
.btn-outline-mao.active, .btn-outline-mao.active:focus, .btn-outline-mao.active:hover, .btn-outline-mao.active.focus,
.open > .dropdown-toggle.btn-outline-mao, 
.open > .dropdown-toggle.btn-outline-mao:hover,
.open > .dropdown-toggle.btn-outline-mao:focus, 
.open > .dropdown-toggle.btn-outline-mao.focus,
.btn-outline-mao.disabled:hover, .btn-outline-mao[disabled]:hover, fieldset[disabled] .btn-outline-mao:hover,
.btn-outline-mao.disabled:focus, .btn-outline-mao[disabled]:focus, fieldset[disabled] .btn-outline-mao:focus,
.btn-outline-mao.disabled.focus, .btn-outline-mao[disabled].focus, fieldset[disabled] .btn-outline-mao.focus {
    background: #ff00ff;
    color: white;
}


/* 薫風BootStrap4ボタンCSS */
.btn-kaoru {
    background: white;
    color: black;
}

.btn-kaoru.outline {
    border: 1px solid #00ffff;
    color: black;
}

.btn .btn-kaoru:hover, .btn-kaoru:focus, 
.btn-kaoru:active, .btn-kaoru:active:focus, .btn-kaoru:active:hover, .btn-kaoru:active.focus,
.btn-kaoru.active, .btn-kaoru.active:focus, .btn-kaoru.active:hover, .btn-kaoru.active.focus,
.open > .dropdown-toggle.btn-kaoru, 
.open > .dropdown-toggle.btn-kaoru:hover,
.open > .dropdown-toggle.btn-kaoru:focus, 
.open > .dropdown-toggle.btn-kaoru.focus,
.btn-kaoru.disabled:hover, .btn-kaoru[disabled]:hover, fieldset[disabled] .btn-kaoru:hover,
.btn-kaoru.disabled:focus, .btn-kaoru[disabled]:focus, fieldset[disabled] .btn-kaoru:focus,
.btn-kaoru.disabled.focus, .btn-kaoru[disabled].focus, fieldset[disabled] .btn-kaoru.focus {
    background: #e0ffff;
    color: black;
}

.btn-outline-kaoru {
    background: none;
    color: black;
}

.btn-outline-kaoru.outline {
    border: 1px solid #00ffff;
    color: black;
}

.btn .btn-outline-kaoru:hover, .btn-outline-kaoru:focus, 
.btn-outline-kaoru:active, .btn-outline-kaoru:active:focus, .btn-outline-kaoru:active:hover, .btn-outline-kaoru:active.focus,
.btn-outline-kaoru.active, .btn-outline-kaoru.active:focus, .btn-outline-kaoru.active:hover, .btn-outline-kaoru.active.focus,
.open > .dropdown-toggle.btn-outline-kaoru, 
.open > .dropdown-toggle.btn-outline-kaoru:hover,
.open > .dropdown-toggle.btn-outline-kaoru:focus, 
.open > .dropdown-toggle.btn-outline-kaoru.focus,
.btn-outline-kaoru.disabled:hover, .btn-outline-kaoru[disabled]:hover, fieldset[disabled] .btn-outline-kaoru:hover,
.btn-outline-kaoru.disabled:focus, .btn-outline-kaoru[disabled]:focus, fieldset[disabled] .btn-outline-kaoru:focus,
.btn-outline-kaoru.disabled.focus, .btn-outline-kaoru[disabled].focus, fieldset[disabled] .btn-outline-kaoru.focus {
    background: #87cefa;
    color: black;
}
